body {
    background-image: url("../img/background.jpg");
}

div {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

li {
    margin-top: 10px;
    position: relative;
}

.btn-warning {
    position: absolute;
    right: 10px;
    top: 5px;
}

.moveBack-btn {
    position: absolute;
    right: 100px;
    width: 95px;
    font-size: 8px;
    text-align: center;
}

.jumbo-style {
    text-align: center;
}

.jumbotron-fluid {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: rgb(243, 237, 190);
}

.container2 {
    padding-top: 20px;
}

input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}